@import "~reset-css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&amp;subset=korean");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", 
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}
